/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*ヘッターのcss*/
header {
  height: 66px;
}
header ul li{
  display: inline;
  padding-left: 5px;
}
header ul .registration a{
  background-color: blue;
  display: block;
  float: right;
  border-radius: 2px;
  width: 80px;
  border-radius: 12px;
  text-align: center
}
header ul .login a{
  background-color: yellow;
  display: block;
  float: right;
  border-radius: 2px;
  width: 80px;
  border-radius: 12px;
  text-align: center
}
header ul{
  position: absolute;
  right: 10%;
  height: 66px;
}
